<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Marks Report</title>

</head>

<body>

<h1>Student Marks</h1>

<table border="1">

<tr>

<th>ID</th>
<th>Roll No</th>
<th>Name</th>
<th>Subject</th>
<th>Exam</th>
<th>Marks</th>

</tr>

{% for mark in marks %}

<tr>

<td>{{ mark.id }}</td>

<td>{{ mark.roll_no }}</td>

<td>{{ mark.student_name }}</td>

<td>{{ mark.subject }}</td>

<td>{{ mark.exam_name }}</td>

<td>{{ mark.marks }}</td>

</tr>

{% endfor %}

</table>

</body>

</html>