<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Requests</title>
</head>

<body>

<h1>Certificate Requests</h1>

<table border="1">

<tr>

<th>Name</th>
<th>Roll No</th>
<th>Type</th>
<th>Status</th>

</tr>

{% for r in requests %}

<tr>

<td>{{ r.student_name }}</td>

<td>{{ r.roll_no }}</td>

<td>{{ r.request_type }}</td>

<td>{{ r.status }}</td>

</tr>

{% endfor %}

</table>

</body>
</html>